SYNC_URL = ''
SYNC_MAX_RETRIES = 3
DOWNLOAD_MAX_RETRIES = 3
MEDIA_PATH = ''
SERVER_ADDRESS = ''
SCRIPT_PATH = ''
DEBUG=False
SD_WEBUI_HOST = '127.0.0.1'
SD_WEBUI_PORT = '7860'
DEFAULT_VIDEO_PATH = '{}'
DEFAULT_PICTURE_PATH = '{}'
LOG_FOLDER = ''
